.skills-section {
  padding-top: 3.5rem;
  min-height: 100vh;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .skills-list {
    list-style-type: square;
    padding-left: 20px;
    font-size: 1.2rem;
  }
  