.section {
    padding: 100px 20px;
    background-color: #fff;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .skills-list {
    list-style-type: square;
    padding-left: 20px;
    font-size: 1.2rem;
  }
  